.display{
  display: none;
}
.center{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  

}

.loader {
  @include loading-icon;
  animation: loaderAnimation 2000ms ;
  opacity: 0;
 }
 
 @keyframes loaderAnimation {
   0% {
     transform: rotate(0deg);
     opacity: 1;
   }
   85%{
      opacity: 0.5;
   }
   
   100% {
     transform: rotate(360deg);
     opacity: 0;
     
   }
   
 }
 
 
 
 
 
 .page {
     animation: page-reload  2000ms;
 }

 .slide-1{
  animation: page-reload 2000ms ;
  
 }
 .slide-2{
  animation: page-reload 3000ms ;

 }
 .slide-3{
  animation: page-reload 4000ms ;

 }
 
 
 @keyframes page-reload {
     0% {
         transform: translateY(9999px);
        
     }
     100% {
         transform: translateY(0);
         transition: 1000ms;
         
     }
 }
 