@mixin btn($font, $padding){
  padding:$padding;
  border-radius: $base-border-radius*2;
  border: none;
  box-shadow:$base-box-shadow;
  color:$white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
@mixin btn-icon{

}
.btn-secondary{
  @include btn($base-padding,$base-margin);
  @include dimension(150px,35px);
  background: linear-gradient(170deg, $secondary-color,$primary-color);

}
@include sm{
  .btn-primary{
    @include btn($base-padding,$base-margin);
    @include dimension(210px, 50px);
    font-size: 15px;
    background: linear-gradient(170deg, $secondary-color,$primary-color);
    }
}
@include md{
  .btn-primary{
    @include btn($base-padding,$base-margin);
    @include dimension(250px, 55px);
    font-size: 20px;
    background: linear-gradient(170deg, $secondary-color,$primary-color);
    }
}

@include lg{
  .btn-primary{
    @include btn($base-padding,$base-margin);
    @include dimension(250px, 55px);
    font-size: 20px;
    background: linear-gradient(170deg, $secondary-color,$primary-color);
    }
}

// .btn-secondary{
//   @include btn;
//   @include dimension(190px,50px);
//   background: linear-gradient(170deg, $secondary-color,$primary-color);
// }

