
@import 'functions';
@import 'variables';

@import 'font';
@import 'base';
@import 'breakpoint';
@import 'mixins';
@import 'card';

@import 'grid';
@import "colours";

@import 'button';
@import 'underline';
@import 'breakpoint';
@import 'utilities';
@import 'index';
@import 'menu';




@include lg{
  .header{
    &__display{
      display: none;
    }
    &__image{
      @include dimension(100%, 350px)
    }

  }
  .menu{
    z-index: 1;
    margin-top: -40px;
    position: relative;
    background-color:$header-logo-bg-color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
  }
  

}

@include md{
  .header{
  
    &__display{
      display:block;
    }
    &__image{
      @include dimension(100%, 300px)
    }
  }
  .menu{
    z-index: 1;
    margin-top: -40px;
    position: relative;
    background-color:$header-logo-bg-color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
  }
}
@include sm{
  .header{
    
    &__display{
      display:block;
    }
    &__image{
      @include dimension(100%, 400px)
    }
  }
  .menu{
    z-index: 1;
    margin-top: -92px;
    position: relative;
    background-color:$header-logo-bg-color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
  }

}
    


